#works {
  background: #000;
  color: #fff;
  position: relative;
}
.wrapper {
  padding: 7rem 0rem;
}
.title a {
  margin: 0px 10px;
  color: lightgray;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
.active {
  text-decoration: underline !important;
}
.title a:hover {
  text-decoration: underline !important;
  color: #fff !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 35.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  cursor: pointer;
  transition: 0.3s linear;
  object-fit: cover;
}
.column img:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
.column img:hover::after {
  content: "130 William";
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
/* ==== footer ==== */
footer {
  background: #000;
  padding: 2rem;
  color: #fff;
}
.socail ul {
  list-style: none;
  margin-left: -47px;
}
.socail ul li {
  display: inline-block;
  padding: 5px 7px;
}
.socail ul li a i {
  font-size: 24px;
  color: #fcfcfc;
  transition: 0.5s;
}
.socail ul li a i:hover {
  color: gray;
}
.footer-item p {
  color: gray;
  text-align: justify;
}
.footer-item p > a {
  color: gray;
  text-decoration: none;
}
.footer-item p > a:hover {
  text-decoration: underline;
}
